.wwebjs_auth/
.wwebjs_cache/
.local-chromium/
venv/
*.exe
*.dll

# Ignore node stuff
node_modules/
whatsapp-bot/node_modules/
whatsapp-bot/.local-chromium/
whatsapp-bot/.wwebjs_auth/
whatsapp-bot/.wwebjs_cache/
# Ignore bookings data
data/
